<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <!--add key="PrinterConfigurationBaseUrl" value="https://ehl.kliinikum.ee/printer-conf/" xdt:Transform="Replace" xdt:Locator="Match(key)" /-->
    <add key="ConfigurationPollingIntervalMinutes" value="1" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="LogPrintConfRequests" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>