<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<?define PrinterAgentApp_TargetDir=$(var.PrinterAgentApp.TargetDir)?>
  <Product Id="*" Name="Printer Agent" Language="1033" Version="!(bind.FileVersion.PrinterAgentApp.exe)" Manufacturer="Nortal" UpgradeCode="87b44ae3-51c9-4ed3-85b6-af14c22aa416">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Description="Version:!(bind.FileVersion.PrinterAgentApp.exe)" />
    <UI>
      <UIRef Id="WixUI_InstallDir" />
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="PcsUrlDialog" Order="2">1</Publish>
      <Publish Dialog="PcsUrlDialog" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
      <Publish Dialog="PcsUrlDialog" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="PcsUrlDialog" Order="2">1</Publish>
      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>

      <Dialog Id="PcsUrlDialog" Width="370" Height="270">
        <Control Id="pcsUrlLabel" Type="Text" X="45" Y="100" Height="17" Width="65" Transparent="yes" Text="Pcs Url:" />
        <Control Id="pcsUrlTextbox" Type="Edit" X="45" Y="110" Height="17" Width="200" Property="PCS_URL" />
        
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="Specify Parameters" />
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.InstallDirDlgBannerBitmap)" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />

        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)">
          <Publish Event="NewDialog" Value="VerifyReadyDlg">2</Publish>
          <Publish Event="SpawnDialog" Value="PcsUrlIdError"><![CDATA[PCS_URL = ""]]></Publish>
        </Control>
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
            <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
      </Dialog>

      <Dialog Id="PcsUrlIdError" Width="260" Height="85" NoMinimize="no" Title="[ProductName]">
        <Control Id="PcsUrlIdErrorDesc" Type="Text" Width="194" Height="30" X="48" Y="15" Text="Please enter a Pcs URL" />
        <Control Id="PcsUrlIdErrorOk" Type="PushButton" X="97" Y="57" Width="56" Height="17" Text="Ok">
          <Publish Event="EndDialog" Value="Return">1</Publish>
        </Control>
      </Dialog>
      
    </UI>

    <Property Id="PCS_URL" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch Printer Agent" />
    <Property Id="WixShellExecTarget" Value="[#PrinterAgentApp.exe]" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
	<Property Id="ARPNOREPAIR" Value="yes" Secure="yes" />
	  
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />
    
    <MajorUpgrade Schedule="afterInstallValidate" AllowDowngrades="no" DowngradeErrorMessage="A newer version of [ProductName] is already installed." AllowSameVersionUpgrades="yes" />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="Printer Agent" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="RegistryEntries" />
      <ComponentGroupRef Id="ProductMenuComponents" />
    </Feature>


	  <util:CloseApplication Target="PrinterAgentApp.exe" RebootPrompt="no" TerminateProcess="100"/>
  </Product>
  


  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Printer Agent" />
      </Directory>
      
      <Directory Id="ProgramMenuFolder">
          <Directory Id="ApplicationProgramsFolder" Name="PrinterAgent" />
      </Directory>
  
    </Directory>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="TARGETDIR">
      <Component Id="RegistryEntries" Guid="dfff78dc-f2db-40a5-b82e-e9c8eec177ec">
        <RegistryKey Root="HKLM" Key="Software\Nortal Print Agent" ForceCreateOnInstall="yes" Action="create">
          <Permission User="Users" GenericAll="yes" />
          <RegistryValue Name="PcsUrl" Type="string" Value="[PCS_URL]">
            <Permission User="Users" GenericAll="yes" />          
          </RegistryValue>
	        <RegistryValue Name="Version" Type="string" Value="[ProductVersion]">
		        <Permission User="Users" GenericAll="yes" />
	        </RegistryValue>
        </RegistryKey>
        
        <RegistryKey Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Run">
          <RegistryValue Name="PrintAgent" Type="string" Value="[#PrinterAgentApp.exe]" />
        </RegistryKey>
        
      </Component>
    </DirectoryRef>
	  
  </Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="icon.ico" Guid="f64b3d3f-38f5-47ab-8eb2-dd9c830f5746">
			  <File Id="icon.ico" Name="icon.ico" Source="$(var.PrinterAgentApp_TargetDir)icon.ico" />
			</Component>
			<Component Id="PrinterAgentApp.exe" Guid="4312ad71-edcd-4686-81e0-e33a7785d0ec">
			  <File Id="PrinterAgentApp.exe" Name="PrinterAgentApp.exe" Source="$(var.PrinterAgentApp_TargetDir)PrinterAgentApp.exe" />
			</Component>
			<Component Id="PrinterAgentApp.exe.config" Guid="467e0470-3c9a-4c55-ba0a-0903e29f0cf9">
			  <File Id="PrinterAgentApp.exe.config" Name="PrinterAgentApp.exe.config" Source="$(var.PrinterAgentApp_TargetDir)PrinterAgentApp.exe.config" />
			</Component>
			<Component Id="PrinterAgentServer.exe" Guid="2312ad71-edcd-4686-81e0-e33a7785d0ec">
				<File Id="PrinterAgentServer.exe" Name="PrinterAgentServer.exe" Source="$(var.PrinterAgentApp_TargetDir)PrinterAgentServer.exe" />
			</Component>
			<Component Id="PrinterAgentServer.exe.config" Guid="267e0470-3c9a-4c55-ba0a-0903e29f0cf9">
				<File Id="PrinterAgentServer.exe.config" Name="PrinterAgentServer.exe.config" Source="$(var.PrinterAgentApp_TargetDir)PrinterAgentServer.exe.config" />
			</Component>
			<Component Id="Newtonsoft.Json.dll" Guid="0c460bb0-89f4-4ae6-a9ee-efa261d5f7fa">
			  <File Id="Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" Source="$(var.PrinterAgentApp_TargetDir)Newtonsoft.Json.dll" />
			</Component>
			<Component Id="System.Net.Http.Formatting.dll" Guid="7a6f9c0a-bf08-4577-95c1-7061cc3590d8">
			  <File Id="System.Net.Http.Formatting.dll" Name="System.Net.Http.Formatting.dll" Source="$(var.PrinterAgentApp_TargetDir)System.Net.Http.Formatting.dll" />
			</Component>
			
			<Component Id="dummy.png" Guid="737f7bd1-2fab-4fa8-a0d3-61116588d7be">
			  <File Id="dummy.png" Name="dummy.png" Source="$(var.PrinterAgentApp_TargetDir)dummy.png" />
			</Component>
			<Component Id="Ghostscript.NET.dll" Guid="766627b1-c3b5-4679-9410-268578446e89">
			  <File Id="Ghostscript.NET.dll" Name="Ghostscript.NET.dll" Source="$(var.PrinterAgentApp_TargetDir)Ghostscript.NET.dll" />
			</Component>
			<Component Id="gsdll32.dll" Guid="766627b1-c3b5-4679-9410-268578446e90">
				<File Id="gsdll32.dll" Name="gsdll32.dll" Source="lib\gsdll32.dll" />
			</Component>
			<Component Id="SumatraPDF.exe" Guid="766627b1-c3b5-4679-9411-268578446e90">
				<File Id="SumatraPDF.exe" Name="SumatraPDF.exe" Source="lib\SumatraPDF.exe" />
			</Component>
		</ComponentGroup>
	</Fragment>

  <Fragment>
    <ComponentGroup Id="ProductMenuComponents" Directory="ApplicationProgramsFolder">
        <Component Id="ApplicationShortcut" Guid="{AE75A17D-3EBF-4B68-AA32-73D18D983317}">
          <Shortcut Id="ApplicationStartMenuShortcut" Name="PrinterAgent" Description="PrinterAgent" Target="[#PrinterAgentApp.exe]" WorkingDirectory="APPLICATIONROOTDIRECTORY">
            <Icon Id="ShortcutIcon" SourceFile="shortcut_icon.ico" />  
          </Shortcut>
          <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
          <RegistryValue Root="HKCU" Key="Software\Nortal\PrinterAgent" Name="installed" Type="integer" Value="1" KeyPath="yes" />
        </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
