<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>

    <add key="PrinterConfigurationBaseUrl" value="http://192.168.41.37:8080/printer-conf/" />
    <add key="ConfigurationPollingIntervalMinutes" value="1" />
    <add key="RequestTimeoutMinutes" value="2" />
    <add key="SkipSignatureVerification" value="false" />
    <add key="LogPrintConfRequests" value="false" />
    <add key="TempFilesRemoveIntervalMinutes" value="60" />
    <add key="UseDebugPrinter" value="" />
    <add key="TempFilePrefix" value="print agent job " />
    <add key="AdobeHangSeconds" value="20" />

    <add key="FontSizePixels" value="11" />
    <add key="FontFamily" value="Verdana" />
    <add key="FontColor" value="#7C6E0C" />
    

  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>
