<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>

    <add key="ConfigurationPollingIntervalMinutes" value="1" />
    <add key="RequestTimeoutMinutes" value="2" />
    <add key="SkipSignatureVerification" value="false" />
    <add key="LogPrintConfRequests" value="false" />
    <add key="TempFilePrefix" value="print agent job " />

    <add key="FontSizePixels" value="11" />
    <add key="FontFamily" value="Verdana" />
    <add key="FontColor" value="#7C6E0C" />

	<add key="GhostScriptSwitches" value="-empty -dPrinted -dBATCH -dSAFER -dNoCancel -dNOPAUSE -dBitsPerPixel=8 -sDEVICE=mswinpr2 -sOutputFile=%printer%{printerName} -f {fileName}"/>
	  
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>
